* {
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Noto Sans", Sans-Serif;
    color: white;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: white;
    font-family: "Noto Sans", Sans-Serif;
    color: white;
}

nav a {
    color: coral;
    text-decoration: none;
}

/* Header Stylings */
.header {
    color: white;
    padding-top: 2%;
    background-color: rgb(58, 58, 58);
    padding: 20px;
    box-shadow: 10px 5px 5px blue;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header div {
    margin-right: 20px;
    float: right;
    font-size: 30px;
}

/* Top Page Links */
.header div ul li {
    color: white;
    display: inline-block;
    margin-left: 25px;
    text-align: center;
}

/* About Me div */
.about {
    background-color: rgb(138, 138, 138);
    margin-top: 1%;
    box-shadow: 10px 5px 5px blue;
    padding: 3%;
    align-items: center;
}

/* Paragraph stylings */
p {
    font-size: 30px;
    margin-top: 15px;
}

a:hover {
    color: rgb(0, 132, 255);
}

a:visited {
    color: rgb(132, 132, 255);
}

/* Avatar image */
.Nicolas {
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
    align-items: center;
}

.projects {
    background-color: rgb(58, 58, 58);
    margin-top: 1%;
    box-shadow: 10px 5px 5px blue;
    padding: 3%;
}

/* Languages image */
.languages {
    max-width: 300px;
    max-height: 300px;
    border-radius: 2%;
    display: inline;
    margin-left: 10%;
    flex-wrap: wrap;
}

/* Contact Image */
.phone {
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
}

/* Contact div */
.contact {
    background-color: rgb(138, 138, 138);
    margin-top: 1%;
    box-shadow: 10px 5px 5px blue;
    padding: 3%;
}

/* Footer div */
.footer {
    text-align: center;
    background-color: rgb(58, 58, 58);
    padding: 3%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 10px 5px 5px blue;
}

.contact div ul li {
    font-size: 25px;
}

/* Smartphone resize */
@media (max-width: 480px) {
    body {
        background-color: white;
    }
}