* {
    text-decoration: none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: white;
}

/* Hero image with gradient */
.hero {
    background-image: (url());
    /* Scale and center */
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    color: white;
    top: 50%;
    bottom: 50%;
}

/* Header Stylings */
.header {
    padding-top: 2%;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    font-family: 'Times New Roman', Times, serif;
}

.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
}

/* Top Page Links */
.header div ul li {
    display: inline-block;
    margin-left: 25px;
    text-align: center;
}

/* About Me div */
.about_me {
    padding-top: 5%;
}

/* Paragraph stylings */
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: 15px;
}

a:hover {
    color: rgb(62, 162, 255);
}

a:visited {
    color: blue;
}

/* Avatar image */
.Nicolas {
    max-width: 300px;
    max-height: 300px;
    border-radius: 10px;
    margin-left: 2%
}

.about_me {
    background-color: rgb(255, 126, 227)
}

.my_projects {
    margin-top: 5%;
    background-color: rgb(101, 173, 255);
}

/* Construction Image */
.Construction {
    max-width: 300px;
    max-height: 300px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Contact Image */
.Contact {
    max-width: 300px;
    max-height: 300px;
    border-radius: 5px;
}

/* Contact div */
.contact_me {
    margin-top: 5%;
    background-color: rgb(255, 126, 227);
}

/* Footer div */
.footer {
    margin-top: 8%;
    text-align: center;
}

/* Smartphone resize */
@media (max-width: 480px) {
    body {
        background-color: white;
    }
}